services:
    app:
        image: ghcr.io/itsusinn/tuic-server:1.4.6
        ports:
            - "8443:8443"
            - "8443:8443/udp"
        restart: unless-stopped
        volumes:
            - /var/lib/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ domain }}/{{ domain }}.crt:/etc/tuic/cert.pem
            - /var/lib/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ domain }}/{{ domain }}.key:/etc/tuic/key.pem
            - ./config.toml:/etc/tuic/config.toml
        # override the default command, which uses json config
        command: -c /etc/tuic/config.toml
