# NOTE: comments starts with a `#` cannot be used for a inline comment
[defaults]
inventory = hosts
# verbosity = 1
vault_password_file = get_vault_pass.sh

# defaults to the directory roles/ relative to the playbook file
roles_path = roles

# FIXME: this would cause `ansible -m setup host` output nothing..
# Use the YAML callback plugin, to make the playbook output more human readable.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

[ssh_connection]
# improve execution performance
# See: https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-pipelining
pipelining = True
