global:
  scrape_interval: 15s

scrape_configs:
    # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
    - job_name: 'node'
      # metrics_path defaults to '/metrics'
      # scheme defaults to 'http'.
      static_configs:
          - targets:
            - 'hk:9100'
            - "deskmini:9100"
            - "beijing:9100"
            - "onlyfans-router:9100"
            - "nwu-icu:9100"

    - job_name: 'prometheus'
      scheme: https
      static_configs:
          - targets: ['prometheus.coherence.space']

    - job_name: 'grafana'
      scheme: https
      static_configs:
          - targets: ['grafana.coherence.space']

    - job_name: 'v2ray'
      metrics_path: /scrape
      static_configs:
          - targets: ['localhost:9550']

    - job_name: "caddy"
      static_configs:
          - targets: ['beijing:2019', "nwu-icu:2019"]
