{% if maintenance is defined %}
nwu.icu 
    header content-type "text/html; charset=utf-8"
    respond "nwu.icu 正在维护中, 预计 19:00 后恢复"
}

test.nwu.icu {
    encode zstd gzip
    handle /static/* {
        file_server { 
            root /var/www/nwu.icu
        }
    }
    reverse_proxy * 127.0.0.1:12315
    log {
        format console
        output stdout
    }
}

{% else %}

nwu.icu {
    encode zstd gzip
    handle /static/* {
        file_server { 
            root /var/www/nwu.icu
        }
    }
    reverse_proxy * 127.0.0.1:12315
    log {
        format console
        output stdout
    }
}
{% endif %}

course.nwu.icu {
    redir https://nwu.icu{uri} permanent
}

report.nwu.icu {
    redir https://nwu.icu/report/ permanent
}
