---
###############################################################
#                   Authelia configuration                    #
###############################################################

identity_validation:
  reset_password:
    jwt_secret: {{ secret }}

server:
  address: 'tcp://0.0.0.0:9091/'
  endpoints:
    authz:
      forward-auth:
        implementation: 'ForwardAuth'


log:
  level: debug
# This secret can also be set using the env variables AUTHELIA_JWT_SECRET_FILE

totp:
  issuer: coherence.space

# duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

authentication_backend:
  file:
    path: /config/users_database.yml

access_control:
  default_policy: deny
  rules:
    - domain: "*.coherence.space"
      policy: one_factor
      subject:
        - "group:admins"
    - domain: "fava.coherence.space"
      policy: deny
      subject:
        - "group:dev"
    # Rules applied to everyone
    - domain: "*.coherence.space"
      policy: one_factor

session:
  name: authelia_session
  # This secret can also be set using the env variables AUTHELIA_SESSION_SECRET_FILE
  secret: {{ secret }}
  expiration: 3600  # 1 hour
  inactivity: 300  # 5 minutes
  remember_me: 1y
  cookies:
  - domain: coherence.space  # Should match whatever your root protected domain is
    authelia_url: {{ auth_server }}
    default_redirection_url: https://www.coherence.space

  redis:
    host: redis
    port: 6379
    # This secret can also be set using the env variables AUTHELIA_SESSION_REDIS_PASSWORD_FILE
    # password: authelia

regulation:
  max_retries: 5
  find_time: 2m
  ban_time: 5m

storage:
  encryption_key: {{ secret }}
  local:
    path: /config/db.sqlite3

notifier:
  disable_startup_check: true
  filesystem:
    filename: /config/notification.txt

identity_providers:
  oidc:
    hmac_secret: {{ secret }}
    jwks:
    - key: |
        {{ issuer_private_key | indent(width=8) }}
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins: "*"
    clients:
      - client_id: miniflux
        client_secret: {{ oidc_secret_hash }}
        authorization_policy: one_factor
        redirect_uris:
          - https://rss.coherence.space/oauth2/oidc/callback
        pre_configured_consent_duration: 1y

      - client_id: grafana
        client_secret: {{ oidc_secret_hash }}
        authorization_policy: one_factor
        redirect_uris:
          - https://grafana.coherence.space/login/generic_oauth
        pre_configured_consent_duration: 1y

      - client_id: gitea
        client_secret: {{ oidc_secret_hash }}
        authorization_policy: one_factor
        redirect_uris:
          - https://git.coherence.space/user/oauth2/authelia/callback
        pre_configured_consent_duration: 1y
...
