---
version: '3.3'

networks:
  net:
    driver: bridge

services:
  authelia:
    image: {{ docker_mirror }}/authelia/authelia
    container_name: authelia
    volumes:
      - ./config:/config
    networks:
      - net
    expose:
      - 9091
    ports:
      - 127.0.0.1:8045:9091
    restart: unless-stopped
    healthcheck:
      disable: true
    environment:
      - TZ=Aisa/Shanghai

  redis:
    image: {{ docker_mirror }}/library/redis:alpine
    container_name: redis
    volumes:
      - ./redis:/data
    networks:
      - net
    expose:
      - 6379
    restart: unless-stopped
    environment:
      - TZ=Aisa/Shanghai