<!DOCTYPE html>
<html>

<head>
    <title>{{ beian_title }}</title>
</head>

<body>

    <h1>Coherence</h1>
    <p>Hello, world!</p>
    <ul>
        <li><a href="raft.html">Raft</a></li>
    </ul>
    <footer><a href="https://beian.miit.gov.cn/" target="_blank">{{ beian_serial }}</a></footer>

</body>

</html>