version: '3'
services:
  miniflux:
    image: miniflux/miniflux:latest
    restart: always
    ports:
      - "127.0.0.1:9001:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgres://miniflux:{{POSTGRES_PASSWORD}}@db/miniflux?sslmode=disable
      - BASE_URL=https://rss.coherence.space/
      - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME=coherence
      - ADMIN_PASSWORD={{ ADMIN_PASSWORD }}
      - POLLING_FREQUENCY=120 # default is 60
      - POLLING_PARSING_ERROR_LIMIT=0 # 0 is unlimited, default is 3
      - OAUTH2_PROVIDER=oidc
      - OAUTH2_CLIENT_ID=miniflux
      - OAUTH2_CLIENT_SECRET={{ oidc_secret }}
      - OAUTH2_REDIRECT_URL=https://rss.coherence.space/oauth2/oidc/callback
      # We don't need to append the discovery URI /.well-known/openid-configuration
      # cause miniflux will add this for us
      - OAUTH2_OIDC_DISCOVERY_ENDPOINT=https://auth.coherence.space
      - OAUTH2_USER_CREATION=1
      - CLEANUP_REMOVE_SESSIONS_DAYS=365
      # disable cleanup (since the total amount of entries is relatively small)
      - CLEANUP_ARCHIVE_UNREAD_DAYS=-1
      - CLEANUP_ARCHIVE_READ_DAYS=-1
  db:
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD={{POSTGRES_PASSWORD}}
    volumes:
      - ./data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 10s
      start_period: 30s
