services:
  syncthing:
    image: {{ docker_registry }}/syncthing/syncthing:latest
    container_name: syncthing
    restart: always
    volumes:
      - ./:/var/syncthing
    environment:
      - STGUIADDRESS=
      - PUID=0
      - PGUI=0
    network_mode: "host"
