apiVersion: 1
groups:
    - orgId: 1
      name: 1m
      folder: node
      interval: 1m
      rules:
        - uid: ee57w2vw9zy0we
          title: node down
          condition: B
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: prometheus
              model:
                datasource:
                    type: prometheus
                    uid: prometheus
                disableTextWrap: false
                editorMode: builder
                expr: up{job="node"}
                fullMetaSearch: false
                hide: false
                includeNullMetadata: true
                instant: true
                intervalMs: 1000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
                useBackend: false
            - refId: B
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 1
                            - 0
                        type: lt
                      operator:
                        type: and
                      query:
                        params: []
                      reducer:
                        params: []
                        type: avg
                      type: query
                datasource:
                    name: Expression
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                refId: B
                type: threshold
          noDataState: NoData
          execErrState: Error
          for: 2m
          annotations:
            summary: Node is down
          isPaused: false
          notification_settings:
            receiver: Telegram
