services:
    app:
        image: {{ docker_registry }}/joplin/server:3.3.4-beta
        networks:
            - database
        ports:
            - "127.0.0.1:22300:22300"
        restart: unless-stopped
        environment:
            - APP_PORT=22300
            - APP_BASE_URL=https://joplin.coherence.space
            - MAX_TIME_DRIFT=0 # disable time check because system time already synced with ntp 
            - DB_CLIENT=pg
            - POSTGRES_PASSWORD={{POSTGRES_PASSWORD}}
            - POSTGRES_DATABASE=joplin
            - POSTGRES_USER={{POSTGRES_USER}}
            - POSTGRES_PORT=5432
            - POSTGRES_HOST=postgresql
networks:
    database:
        external: true
