ADMIN_USER_EMAIL=niuchangcun@gmail.com
ADMIN_USER_NAME={{ ADMIN_USER_NAME }}
ADMIN_USER_PWD={{ ADMIN_USER_PWD }}
BASE_URL=https://{{ domain }}.{{ zone }}
SECRET_KEY_BASE={{ SECRET_KEY_BASE }}
PORT=8000
DISABLE_REGISTRATION=true
