fava.coherence.space {
    reverse_proxy 127.0.0.1:6674
    basicauth /* {
        cjc JDJhJDE0JGdhMVhsMmpkeXNaYVRkeEJVUmdKU09CdU1TTjNXMXhlTHNzU1Z4aXZTMjFVYnIxWGFHLkZT
    }
    log {
	    output file /var/log/caddy/fava_access.log
        format console
    }
}
